extends ../../layouts/default

block head
    title My Events

block body
    div.row
        div.col-sm-8
            div.page-header
                h1 My Events
            if events
                ul.events
                    each event, i in events
                        li
                            strong #{event.name} -
                            p
                                i.fa.fa-map-marker &nbsp;
                                =event.venue
                            i.fa.fa-pencil &nbsp;
                            a(href='/events/edit/#{event._id}') Edit &nbsp; &nbsp;
                            i.fa.fa-trash &nbsp;
                            a(id='deleteEvent', data-delete='#{event._id}', href='#') Delete
            else
                p You have no events.
        div.col-sm-4
            div.page-header
                h1 Sidebar